/* 모바일 세로 / ~480px / 10, 12, 14, 16 */
main > .wrap {
  height: 100%;
  padding: 40px 20px;
  position: relative;
}

main > .wrap > article > div ~ div {
  margin-top: 40px;
}

.finance {
  height: 100%;
}

.totalFinance {
  height: 80px;
  background-color: #FFFFFF;
  border-radius: 30px;
}

.totalFinance h2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-mz);
  font-weight: var(--font-ebw);
}

.financeInput {
  height: 120px;
  border-radius: 30px;
  padding: 20px;
  background-color: var(--main-color);
}

.financeInput form {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}

.financeInput form .financeType {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.financeType select {
  width: 100%;
  font-size: var(--font-smz);
  font-weight: var(--font-bw);
  border: none;
}

.financeType select:focus {
  outline: none;
}

.financeType select option {
  width: 100%;
  border: none;
  background-color: #FFFFFF;
}

.financeInput form .financePrice {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.financePrice div {
  width: 80%;
}

.financePrice input {
  width: 100%;
  height: 50%;
  padding: 0 20px;
  font-size: var(--font-smz);
  font-weight: var(--font-bw);
  border: none;
}

.financePrice input:focus {
  outline: none;
}

.financePrice button {
  width: 20%;
  height: 100%;
  background-color: var(--bg-color);
  border-radius: 0 10px 10px 0;
}

.financePrice button i {
  font-size: var(--font-smz);
  font-weight: var(--font-ebw);
}

.financeList {
  height: calc(100% - 280px);
  background-color: var(--main-color);
  border-radius: 30px;
  padding: 20px;
}

.financeList .monthFinance {
  height: 80px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #FFFFFF;
  display: flex;
}

.monthFinance div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.monthFinance div:first-child {
  border-right: 1px solid var(--border-color);
}

.monthFinance h3 {
  width: 100%;
  font-size: var(--font-mz);
  text-align: center;
  padding-bottom: 6px;
  border-bottom: 1px solid var(--border-color);
}

.monthFinance strong {
  width: 100%;
  font-size: var(--font-mz);
  font-weight: var(--font-rw);
  text-align: center;
}


.financeList .monthFinanceList {
  height: calc(100% - 100px);
  padding: 20px;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.monthFinanceList ul {
  overflow-y: auto;
}

.monthFinanceList ul li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  font-size: var(--font-smz);
}

.monthFinanceList ul li button i {
  font-size: var(--font-smz);
}

/* 모바일 가로 ~ 태블릿 세로 / 481px~768px / 12, 14, 16, 18 */
@media screen and (min-width: 481px) and (max-width: 768px) {
  main > .wrap {
    padding: 60px 40px;
  }

  main > .wrap > article > div ~ div {
    margin-top: 60px;
  }
  
  .totalFinance {
    height: 100px;
  }
  
  .totalFinance h2 {
    font-size: var(--font-mlz);
  }
  
  .financeInput {
    height: 140px;
  }
  
  .financeType select {
    font-size: var(--font-mz);
  }
  
  .financePrice input {
    font-size: var(--font-mz);
  }
  
  .financePrice button i {
    font-size: var(--font-mz);
  }
  
  .financeList {
    height: calc(100% - 360px);
  }
  
  .financeList .monthFinance {
    height: 100px;
  }
  
  .monthFinance h3 {
    font-size: var(--font-mlz);
    padding-bottom: 8px;
  }
  
  .monthFinance strong {
    font-size: var(--font-mlz);
  }
  
  
  .financeList .monthFinanceList {
    height: calc(100% - 120px);
  }
  
  .monthFinanceList ul {
    overflow-y: auto;
  }
  
  .monthFinanceList ul li {
    font-size: var(--font-mz);
  }
  
  .monthFinanceList ul li button i {
    font-size: var(--font-smz);
  }
}


/* 태블릿 가로 / 769px~ / 14, 16, 18, 20 */
@media screen and (min-width: 769px) {
  main > .wrap {
    padding: 80px 60px;
  }

  main > .wrap > article > div ~ div {
    margin-top: 80px;
  }
  
  .totalFinance {
    height: 100px;
  }
  
  .totalFinance h2 {
    font-size: var(--font-lz);
  }
  
  .financeInput {
    height: 160px;
    padding: 40px;
  }
  
  .financeType select {
    font-size: var(--font-mlz);
  }

  .financePrice input {
    padding: 0 40px;
    font-size: var(--font-mlz);
  }
  
  .financePrice button i {
    font-size: var(--font-mlz);
  }
  
  .financeList {
    height: calc(100% - 420px);
    padding: 40px;
  }
  
  .financeList .monthFinance {
    height: 100px;
    margin-bottom: 40px;
  }
  
  .monthFinance h3 {
    font-size: var(--font-lz);
    padding-bottom: 10px;
  }
  
  .monthFinance strong {
    font-size: var(--font-lz);
  }
  
  
  .financeList .monthFinanceList {
    height: calc(100% - 140px);
    padding: 40px;
  }
  
  .monthFinanceList ul li {
    font-size: var(--font-mlz);
  }
  
  .monthFinanceList ul li button i {
    font-size: var(--font-mlz);
  }
}