/* 모바일 세로 / ~480px / 10, 12, 14, 16 */
.wrap > div ~ div {
  margin-top: 40px;
}

.dateListWrap {
  width: 100%;
  height: 60px;
}

.dateListWrap ul {
  height: 100%;
  overflow-x: auto;
  border-radius: 30px;
  display: flex;
  background-color: #FFFFFF;
}

.dateListWrap ul li button {
  width: 60px;
  height: 100%;
  font-size: var(--font-sz);
  font-weight: var(--font-bw);
}

.dateListWrap ul li.active {
  background-color: var(--main-color);
  border-radius: 30px;
}

.dateListWrap ul li.active button {
  color: #FFFFFF;
}

.stateWrap {
  width: 100%;
  height: 80px;
  background-color: #FFFFFF;
  border-radius: 30px;
  padding: 20px;
}

.todoWrap {
  width: 100%;
}

.todoWrap article {
  width: 100%;
  background-color: var(--main-color);
  border-radius: 30px;
  padding: 20px;
}

.todoWrap article ~ article {
  margin-top: 40px;
}

article .todoTitleWrap {
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
}

article .todoTitle {
  font-size: var(--font-mz);
}

article .editTitleBtn i {
  font-size: var(--font-mz);
  color: #FFFFFF;
}

article form {
  margin-top: 20px;
}

article form .formWrap {
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

article form .formWrap input {
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-size: var(--font-smz);
  flex-grow: 1;
}

article form .formWrap input:focus {
  outline: none;
}

article form .formWrap button {
  width: 42px;
}

article form .formWrap button i {
  font-size: var(--font-smz);
}

article .todoListWrap {
  height: 300px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #FFFFFF;
  overflow-y: auto;
}

article .todoListWrap li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--sub-color);
  gap: 20px;
}

article .todoListWrap  li ~ li {
  margin-top: 10px;
}

article .todoListWrap li input {
  width: var(--font-smz);
  accent-color: var(--main-color);
}

article .todoListWrap li input:checked + label {
  text-decoration: line-through;
  color: var(--border-color);
}

article .todoListWrap li label {
  font-size: var(--font-smz);
  font-weight: var(--font-ebw);
  flex-grow: 1;
}

article .todoListWrap li button i {
  font-size: var(--font-smz);
}

/* 모바일 가로 ~ 태블릿 세로 / 481px~768px / 12, 14, 16, 18 */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .wrap > div ~ div {
    margin-top: 60px;
  }
  
  .dateListWrap {
    height: 80px;
  }
  
  .dateListWrap ul li button {
    width: 80px;
    font-size: var(--font-smz);
  }
  
  .stateWrap {
    height: 100px;
  }
  
  .todoWrap article ~ article {
    margin-top: 60px;
  }
  
  
  article .todoTitle {
    font-size: var(--font-mlz);
  }
  
  article .editTitleBtn i {
    font-size: var(--font-mlz);
  }
  
  article form {
    margin-top: 20px;
  }
  
  article form .formWrap input {
    padding: 14px;
    font-size: var(--font-mz);
  }
  
  article form .formWrap button {
    width: 49px;
  }
  
  article form .formWrap button i {
    font-size: var(--font-mz);
  }
  
  article .todoListWrap  li ~ li {
    margin-top: 20px;
  }

  article .todoListWrap {
    height: 320px;
  }
  
  article .todoListWrap li input {
    width: var(--font-mz);
  }
  
  article .todoListWrap li label {
    font-size: var(--font-mz);
  }
  
  article .todoListWrap li button i {
    font-size: var(--font-mz);
  }
}


/* 태블릿 가로 / 769px~ / 14, 16, 18, 20 */
@media screen and (min-width: 769px) {
  .wrap > div ~ div {
    margin-top: 80px;
  }
  
  .dateListWrap {
    height: 100px;
  }
  
  .dateListWrap ul li button {
    width: 100px;
    font-size: var(--font-mz);
  }
  
  .stateWrap {
    height: 120px;
  }
  
  .todoWrap article {
    padding: 40px;
  }
  
  .todoWrap article ~ article {
    margin-top: 80px;
  }
  
  
  article .todoTitle {
    font-size: var(--font-lz);
  }
  
  article .editTitleBtn i {
    font-size: var(--font-lz);
  }
  
  article form {
    margin-top: 40px;
  }
  
  article form .formWrap input {
    padding: 16px;
    font-size: var(--font-mlz);
  }
  
  article form .formWrap button {
    width: 55px;
  }
  
  article form .formWrap button i {
    font-size: var(--font-mlz);
  }
  
  article .todoListWrap {
    height: 340px;
    margin-top: 40px;
    padding: 40px;
  }
  
  article .todoListWrap li {
    gap: 20px;
  }
  
  article .todoListWrap  li ~ li {
    margin-top: 20px;
  }
  
  article .todoListWrap li input {
    width: var(--font-mlz);
  }

  
  article .todoListWrap li label {
    font-size: var(--font-mlz);
  }
  
  article .todoListWrap li button i {
    font-size: var(--font-mlz);
  }
}