/* 모바일 세로 / ~480px / 10, 12, 14, 16 */
main > .wrap {
  height: 100%;
  padding: 40px 20px;
}

main .wrap .calculate {
  height: 100%;
}

main .wrap .calculate > div ~ div {
  margin-top: 40px;
}

main .wrap .calculate > div {
  padding: 20px;
}

.calculate .resultWrap {
  height: 30%;
  font-weight: var(--font-ebw);
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 20px;
}

.resultWrap .prevResult {
  flex-grow: 2;
  overflow-y: auto;
}

.resultWrap .prevResult ul {
  height: 100%;
  text-align: right;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
}

.resultWrap .prevResult ul li {
  color: var(--border-color);
}

.resultWrap .result {
  text-align: right;
  margin-top: 10px;
}

.resultWrap .result p, strong {
  font-size: var(--font-mlz);
  font-weight: var(--font-ebw);
}

.calculate .btnWrap {
  height: calc(100% - 30% - 40px);
  background-color: var(--main-color);
  border-radius: 20px;
}

.btnWrap ul {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btnWrap ul li button {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-size: var(--font-mlz);
  font-weight: var(--font-ebw);
  background-color: var(--bg-color);
  box-shadow: 0 4px 4px var(--sub-color);
}

.btnWrap ul li button:active {
  box-shadow: inset 0 4px 4px var(--sub-color);
}

.btnWrap ul li:last-child {
  grid-column: 3 / 5;
}

.btnWrap ul li:last-child button {
  background-color: #FFFFFF;
}

/* 모바일 가로 ~ 태블릿 세로 / 481px~768px / 12, 14, 16, 18 */
@media screen and (min-width: 481px) and (max-width: 768px) {
  main > .wrap {
    padding: 60px 40px;
  }

  main .wrap .calculate > div ~ div {
    margin-top: 60px;
  }

  main .wrap .calculate > div {
    padding: 25px;
  }
  
  .calculate .resultWrap {
    border-radius: 25px;
  }

  .resultWrap .prevResult ul li {
    font-size: var(--font-mlz);
  }
  
  .resultWrap .result p, strong {
    font-size: var(--font-lz);
    font-weight: var(--font-ebw);
  }
  
  .calculate .btnWrap {
    height: calc(100% - 30% - 60px);
    border-radius: 25px;
  }
  
  .btnWrap ul {
    gap: 15px;
  }
  
  .btnWrap ul li button {
    font-size: var(--font-lz);
  }
}

/* 태블릿 가로 / 769px~ / 14, 16, 18, 20 */
@media screen and (min-width: 769px) {
  main > .wrap {
    padding: 80px 60px;
  }
  
  main .wrap .calculate {
    display: flex;
    gap: 60px;
  }

  main .wrap .calculate > div ~ div {
    margin-top: 0;
  }
  
  main .wrap .calculate > div {
    height: 100%;
    padding: 30px;
  }
  
  .calculate .resultWrap {
    width: 30%;
    border-radius: 30px;
  }

  .resultWrap .prevResult ul li {
    font-size: var(--font-lz);
  }

  .resultWrap .result p, strong {
    font-size: var(--font-xlz);
  }
  
  .calculate .btnWrap {
    width: calc(100% - 60px - 30%);
    background-color: var(--main-color);
    border-radius: 30px;
  }
  
  .btnWrap ul {
    gap: 20px;
  }
  
  .btnWrap ul li button {
    font-size: var(--font-xlz);
  }
}